@yellow:#FDC844;
@pink: #FF2351;
@dark-grey: #848484;
@light-grey: #DADADA;
@light-yellow:#fdc8444d;
@bg-color: #FAFAFA;
@error-color: rgb(189, 50, 50);

@small-desktops: ~'(max-width: 1265px)'; // -> scaping
@tablets: ~'(max-width: 767px)';
@smartphones: ~'(max-width: 500px)';
